In [ ]:
%load_ext autoreload
%autoreload 2
import pandas as pd 
import numpy as np
import sys
import os

# Import classes
sys.path.append(os.path.abspath('../scripts'))
sys.path.append(os.path.abspath('../src'))

from data_loader import DataLoad
from preprocess import Preprocess
from plot import Visualization

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

ModuleNotFoundError: No module named 'Preprocess'

In [ ]:
preprocess = Preprocess()
data_load = DataLoad()
plot = Visualization()

### Read and load data of different files and merge them in one dataframe

In [8]:
result = data_load.read_csv_txt_data()

In [10]:
labeled_data = data_load.lalebed_file()

In [11]:
labeled_data.head()

      Token      Label
0      3pcs  B-PRODUCT
1   silicon  I-PRODUCT
2     brush  I-PRODUCT
3  spatulas  I-PRODUCT
4       ·ä•·àµ·ä®          O

In [12]:
result.shape

(31794, 6)

In [13]:
result.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Zemen Express¬Æ,@ZemenExpress,6014,NaN,2025-01-15 05:43:58+00:00,zemen_photos/@ZemenExpress_6014.jpg
1,Zemen Express¬Æ,@ZemenExpress,6013,üí•üí•..........................üí•üí•\n¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†...,2025-01-15 05:43:58+00:00,zemen_photos/@ZemenExpress_6013.jpg
2,Zemen Express¬Æ,@ZemenExpress,6012,NaN,2025-01-14 13:29:49+00:00,zemen_photos/@ZemenExpress_6012.jpg
3,Zemen Express¬Æ,@ZemenExpress,6011,üí•üí•...................................üí•üí•\n\nüìåFe...,2025-01-14 13:29:49+00:00,zemen_photos/@ZemenExpress_6011.jpg
4,Zemen Express¬Æ,@ZemenExpress,6010,NaN,2025-01-14 08:17:05+00:00,zemen_photos/@ZemenExpress_6010.jpg

### Data Tokenization, Normalizatio using Positional Tokenization

In [15]:
# Apply the tokenization function to your DataFrame
result = preprocess.tokenize_dataframe(result, message_column='Message')

### Prepare Data as Cleaned Structure

In [16]:
result = preprocess.clean_structure(result)

### Store Preprocessed Data in to SQLit Database

In [17]:
# Store preprocessed data to sqlit database
preprocess.store_preprocessed_data(result)

### Read Save Data from SQLit Database

In [18]:
# Fetch The data from SQLit Database
result = preprocess.ReadSavedDate('telegram_data.db', 'telegram_messages')

In [19]:
print(result.shape)
result.head()

(31794, 11)

,id,MESSAGE_ID,Channel_Title,Channel_Username,Date,Media_Path,Content,input_ids,attention_mask,token_type_ids,position_ids
0,1,6014,Zemen Express¬Æ,@ZemenExpress,2025-01-15T05:43:58,zemen_photos/@ZemenExpress_6014.jpg,None,None,None,None,None
1,2,6013,Zemen Express¬Æ,@ZemenExpress,2025-01-15T05:43:58,zemen_photos/@ZemenExpress_6013.jpg,üí•üí•..........................üí•üí•\n¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†...,"[[101, 119, 119, 119, 119, 119, 119, 119, 119,...","[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
2,3,6012,Zemen Express¬Æ,@ZemenExpress,2025-01-14T13:29:49,zemen_photos/@ZemenExpress_6012.jpg,None,None,None,None,None
3,4,6011,Zemen Express¬Æ,@ZemenExpress,2025-01-14T13:29:49,zemen_photos/@ZemenExpress_6011.jpg,üí•üí•...................................üí•üí•\n\nüìåFe...,"[[101, 119, 119, 119, 119, 119, 119, 119, 119,...","[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,..."
4,5,6010,Zemen Express¬Æ,@ZemenExpress,2025-01-14T08:17:05,zemen_photos/@ZemenExpress_6010.jpg,None,None,None,None,None

In [20]:
# Apply the filter function to the Content column
result['Filtered_Content'] = result['Content'].apply(preprocess.filter_amharic_text)

# Display the resulting DataFrame
result.tail()

,id,MESSAGE_ID,Channel_Title,Channel_Username,Date,Media_Path,Content,input_ids,attention_mask,token_type_ids,position_ids,Filtered_Content
31789,31790,8,·àù·à≠·å• ·ãï·âÉ,@MerttEka,2019-10-27T11:04:38,MerttEka_photos/@MerttEka_8.jpg,None,None,None,None,None,None
31790,31791,7,·àù·à≠·å• ·ãï·âÉ,@MerttEka,2019-10-27T10:11:52,MerttEka_photos/@MerttEka_7.jpg,None,None,None,None,None,None
31791,31792,3,·àù·à≠·å• ·ãï·âÉ,@MerttEka,2019-10-26T13:40:07,None,None,None,None,None,None,None
31792,31793,2,·àù·à≠·å• ·ãï·âÉ,@MerttEka,2019-10-26T13:39:45,None,None,None,None,None,None,None
31793,31794,1,·àù·à≠·å• ·ãï·âÉ,@MerttEka,2019-10-26T13:38:07,None,None,None,None,None,None,None

In [21]:
df = result
# Replace "None" strings with actual NaN values
df.replace("None", pd.NA, inplace=True)

In [22]:
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# ===== EDA =====
print("\n--- Data Overview ---")
df.head()  # Display the first few rows

--- Data Overview ---

,id,MESSAGE_ID,Channel_Title,Channel_Username,Date,Media_Path,Content,input_ids,attention_mask,token_type_ids,position_ids,Filtered_Content
0,1,6014,Zemen Express¬Æ,@ZemenExpress,2025-01-15 05:43:58,zemen_photos/@ZemenExpress_6014.jpg,<NA>,<NA>,<NA>,<NA>,<NA>,None
1,2,6013,Zemen Express¬Æ,@ZemenExpress,2025-01-15 05:43:58,zemen_photos/@ZemenExpress_6013.jpg,üí•üí•..........................üí•üí•\n¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†...,"[[101, 119, 119, 119, 119, 119, 119, 119, 119,...","[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",·àò·àç·ä´·àù ·â†·ä†·àç ·àà·ä†·å†·âÉ·âÄ·àù ·â†·å£·àù ·àù·âπ ·ä•·äì ·ãò·àò·äì·ãä ·âÜ·àª·àª ·ã®·àõ·ã≠·ãù 7000 ·ãã...
2,3,6012,Zemen Express¬Æ,@ZemenExpress,2025-01-14 13:29:49,zemen_photos/@ZemenExpress_6012.jpg,<NA>,<NA>,<NA>,<NA>,<NA>,None
3,4,6011,Zemen Express¬Æ,@ZemenExpress,2025-01-14 13:29:49,zemen_photos/@ZemenExpress_6011.jpg,üí•üí•...................................üí•üí•\n\nüìåFe...,"[[101, 119, 119, 119, 119, 119, 119, 119, 119,...","[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",·ä®·å†·äï·ä´·à´ ·ã®·â∞·à∞·à´ ·àà·à®·åÖ·àù ·à∞·ä†·âµ ·àô·âÄ·âµ·äï ·å†·â•·âÜ ·àõ·âÜ·ã®·âµ ·ã®·àö·âΩ·àç 1 5 24 ...
4,5,6010,Zemen Express¬Æ,@ZemenExpress,2025-01-14 08:17:05,zemen_photos/@ZemenExpress_6010.jpg,<NA>,<NA>,<NA>,<NA>,<NA>,None

### Check Data Types

In [23]:
print("\n--- Data Types ---")
print(df.dtypes)  # Display column data types

--- Data Types ---
id                           int64
MESSAGE_ID                   int64
Channel_Title               object
Channel_Username            object
Date                datetime64[ns]
Media_Path                  object
Content                     object
input_ids                   object
attention_mask              object
token_type_ids              object
position_ids                object
Filtered_Content            object
dtype: object

In [24]:
print("\n--- Missing Values ---")
print(df.isnull().sum())  # Count missing values per column

--- Missing Values ---
id                      0
MESSAGE_ID              0
Channel_Title           0
Channel_Username        0
Date                    0
Media_Path           7032
Content              8266
input_ids            8266
attention_mask       8266
token_type_ids       8266
position_ids         8266
Filtered_Content    11110
dtype: int64

### Visualize missing values

In [ ]:
# Visualize missing values
plot.Visualize_missing_values(df)